<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Sennder</title>
</head>
<style>
h1,
h3 {
	text-align: center;
}

.blue-square-container {
	text-align: center;
	margin: 0 auto;
}

.blue-square {
	background-color: #0074D9;
	width: 100px;
	height: 100px;
	display: inline-block;
	margin: 0 auto;
}
</style>

<body>
	<h1>Shafeequ Ahmed</h1>
	<h3>Please go to <a href="movies"> Movies List </a></h3>
	<div class="blue-square-container">
		<div class="blue-square"></div>
	</div>
</body>

</html>